#container {
  width: 800px;
  margin: 0 auto;
}
body a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#container h2 {
  text-align: center;
}
#container ul {
  list-style: none;
}
ul li:nth-child(1) {
  font-weight: bold;
  font-size: 20px;
}