#container{
  width: 960px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #ccc;
}
#container p{
  color: green;
}
header{
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}
#left{
  border: 1px solid #ccc;
  width: 220px;
  padding: 20px;
  float: left;
  background-color: rgb(156, 143, 168);
  margin-bottom: 20px;
}
section{
  width: 384px;
  border: 1px solid #ccc;
  padding: 20px;
  float: left;
  margin: 0px 5px 20px;
}
#right{
  border: 1px solid #ccc;
  width: 220px;
  padding: 20px;
  float: right;
  background-color: rgb(156, 143, 168);
  margin-bottom: 20px;
}
footer{
  border: 1px solid #ccc;
  clear: both;
  padding: 10px;
}
.black{
  color: black;
}