#container{
  width: 1000px;
  margin: 0 auto;
}
header{
  background-color: rgb(177, 89, 103);
  padding: 10px;
  overflow: hidden;
}
header img{
  width: 80px;
  height: 80px;
  float: left;
  border-radius: 50%;
}
nav{
  width: 500px;
  float: right;
}
nav li{
  float: left;
  list-style: none;
  padding: 10px;
}
nav a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
section{
  width: 800px;
  padding: 10px;
  float: left;
}
article{
  width: 360px;
  height: 260px;
  text-align: justify;
  float:left ;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
}
aside{
  width: 180px;
  float: right;
  margin-top: 87px;
}
aside img{
  width: 180px;
  height: 189px;
}
footer{
  background-color: blueviolet;
  clear: both;
  padding: 10px;
  color: #fff;
  text-align: center;
}
footer p{
  margin-top: 0;
}
figure{
  margin: 0;
}