#container{
  width: 1000px;
  margin: 0 auto;
}
header{
  background-color: pink;
  padding: 20px;
  overflow: hidden;
}
header h1{
  float: left;
  color: #fff;
}
nav{
  width: 450px;
  float: right;
}
nav li{
  float: left;
  padding: 10px;
  list-style: none;
}
section{
  padding-top: 30px;
}
article{
  width: 260px;
  float: left;
  padding-left: 20px;
  
}
.right{
  float: right;
  padding-right: 40px;
  width: 290px;
}
.bot{
  clear: both;
  padding: 10px;
  width: 700px;
}
img{
  width: 250px;
  height: 250px;
  float: right;
  padding-right: 30px;
}
footer{
  clear: both;
  background-color: rgb(97, 162, 206);
  padding: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding-top: 20px;
}