#container{
  width: 1000px;
  margin: 0 auto;
}
header{
  background-color: blue;
  color: #fff;
  padding: 10px;
  float: left;
  overflow: hidden;
}
header a{
  color: #fff;
  text-decoration: none;
  
}
nav{
  width: 500px;
  float: right;
}
nav li{
  float: left;
  padding: 10px;
  list-style: none;
  font-weight: bold;
}
article{
  width: 800px;
  margin: 5px;
}
img{
  width: 200px;
  height: 600px;
}