* {
  box-sizing: border-box;
}
body {
  background-image: url("https://search.pstatic.net/sunny/?src=https%3A%2F%2Fpng.pngtree.com%2Fthumb_back%2Ffw800%2Fbackground%2F20230518%2Fpngtree-an-empty-theater-with-red-seats-image_2581415.jpg&type=sc960_832");
  background-repeat: no-repeat;
  background-size: cover;
}
body h1 {
  color: white;
}
body a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}