#container {
  width: 800px;
  margin: 0 auto;
}
body {
  background-image: url("https://search.pstatic.net/sunny/?src=https%3A%2F%2Fpng.pngtree.com%2Fthumb_back%2Ffw800%2Fbackground%2F20230518%2Fpngtree-an-empty-theater-with-red-seats-image_2581415.jpg&type=sc960_832");
  background-repeat: no-repeat;
  background-size: cover;
}
body a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  background-color: blueviolet;
  margin-bottom: 20px;
}
ul:hover{
  transition: all 1s;
  transform: scale(1.2);
}
#container h1 {
  color: white;
  text-align: center;
}
#container ul {
  list-style: none;
}
ul li:nth-of-type(1) {
  color: white;
  font-weight: bold;
}